version: '3.8'

services:
  db:
    image: postgres:18.0-alpine3.22
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5000:5432"
    volumes:
      - db_data:/var/lib/postgresql
volumes:
  db_data:
